{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <section class="drawer">
    <div class="col-md-12 size-img back-img">
      <div class="effect-cover">
        <h3 class="txt-advert animated">The best Nikol Radek</h3>
        <p class="txt-advert-sub">Lifelong dream of becoming the No. 1 player on the ATP World Tour </p>
      </div>
    </div>

    <section id="summary" class="container secondary-page">
      <div class="general general-results">
        <div id="rrResult" class="top-score-title right-score total-reslts col-md-9">
          <h3>Total <span>Scores</span><span class="point-little">.</span></h3>
          <div class="cat-con-desc">
            <img src="{% static 'images/cup1.jpg' %}" alt=""/>
            <p class="news-title-right">The best result</p>
            <p class="txt-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="txt-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="main">
            <div class="tabs animated-slide-2">
              <ul class="tab-links">
                <li class="active"><a href="#tab1111">Чоловіки</a></li>
                <li><a href="#tab2222">Жінки</a></li>
                <li><a href="#tab3333">Діти</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab1111" class="tab active">
                  <table class="tab-score">
                    <tr class="top-scrore-table">
                      <td class="score-position">POS.</td>
                      <td>PLAYER</td>
                      {#                      <td>NAT.</td>#}
                      <td>POINTS</td>
                    </tr>
                    {% for man in men %}
                      <tr>
                        <td class="score-position">{{ forloop.counter }}.</td>
                        <td><a href="single_player.html">{{ man.get_full_name }} </a></td>
                        {#                      <td><img src="images/flags/serbia.png" alt=""/></td>#}
                        <td>{{ man.rating }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <div id="tab2222" class="tab">
                  <table class="tab-score">
                    <tr class="top-scrore-table">
                      <td class="score-position">POS.</td>
                      <td>PLAYER</td>
                      {#                      <td>NAT.</td>#}
                      <td>POINTS</td>
                    </tr>
                    {% for woman in women %}
                      <tr>
                        <td class="score-position">{{ forloop.counter }}.</td>
                        <td><a href="single_player.html">{{ woman.get_full_name }} </a></td>
                        {#                      <td><img src="images/flags/serbia.png" alt=""/></td>#}
                        <td>{{ woman.rating }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <div id="tab3333" class="tab">
                  <table class="tab-score">
                    <tr class="top-scrore-table">
                      <td class="score-position">POS.</td>
                      <td>PLAYER</td>
                      {#                      <td>NAT.</td>#}
                      <td>POINTS</td>
                    </tr>
                    {% for child in children %}
                      <tr>
                        <td class="score-position">{{ forloop.counter }}.</td>
                        <td><a href="single_player.html">{{ child.get_full_name }} </a></td>
                        {#                      <td><img src="images/flags/serbia.png" alt=""/></td>#}
                        <td>{{ child.rating }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="score-view-all"></div>
            </div>
          </div>
        </div><!--Close Top Match-->
        <div class="col-md-3 right-column">
          {% include 'latest_news.html' %}
          <div class="top-score-title col-md-12">
            <img src="http://placehold.it/1000x475" alt=""/>
          </div>
          <div class="top-score-title col-md-12 right-title">
            <h3>Photos</h3>
            <ul class="right-last-photo">
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="jm-item second">
                  <div class="jm-item-wrapper">
                    <div class="jm-item-image">
                      <img src="http://placehold.it/320x213" alt=""/>
                      <div class="jm-item-description">
                        <div class="jm-item-button">
                          <i class="fa fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
  <!--MENU-->
  <script src="{% static 'js/menu/modernizr.custom.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/menu/cbpHorizontalMenu.js' %}" type="text/javascript"></script>
  <!--END MENU-->

  <!-- Button Anchor Top-->
  <script src="{% static 'js/jquery.ui.totop.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
{% endblock %}