{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <section class="drawer">
    <div class="col-md-12 size-img back-img-match">
      <div class="effect-cover">
        <h3 class="txt-advert animated">The best Palyer</h3>
        <p class="txt-advert-sub">Lifelong dream of becoming the No. 1 player on the ATP World Tour </p>
      </div>
    </div>

    <section id="single_player" class="container secondary-page">
      <div class="general general-results players">
        <div class="top-score-title right-score col-md-9">
          <h3>{{ player.first_name }} <span>{{ player.last_name }}</span><span class="point-little">.</span></h3>
          <div class="col-md-12 atp-single-player">
            <img class="img-djoko" src="{{ player.avatar.url }}" alt=""/>
            <div class="col-md-2 data-player">
              <p>Birthdate:</p>
              <p>Height:</p>
              <p>Weight:</p>
              <p>Plays:</p>
              <p>Turned Pro:</p>
            </div>
            <div class="col-md-3 data-player-2">
              <p>{{ player.birthday|date:"F j, Y" }}</p>
              <p>{{ player.height }} cm</p>
              <p>{{ player.weight }} kg</p>
              <p>Right-handed</p>
              <p>12 years on tour</p>
            </div>
            <div class="col-md-2 rank-player">
              <div class="content-rank"><p class="rank-data">{{ player.get_rank_position }}</p></div>
              <p class="rank-title">Current Ranked</p>
            </div>
          </div>
          <div class="col-md-12 atp-single-player skill-content">
            <div class="exp-skill">
              <p class="exp-title-pp">SKILLS</p>
              <div class="skills-pp">
                <div class="skillbar-pp clearfix" data-percent="95%">
                  <div class="skillbar-title-pp"><span>Grip   </span></div>
                  <div class="skillbar-bar-pp"></div>
                  <div class="skill-bar-percent-pp">95%</div>
                </div>
                <div class="skillbar-pp clearfix" data-percent="84%">
                  <div class="skillbar-title-pp"><span>Serve  </span></div>
                  <div class="skillbar-bar-pp"></div>
                  <div class="skill-bar-percent-pp">84%</div>
                </div>
                <div class="skillbar-pp clearfix" data-percent="65%">
                  <div class="skillbar-title-pp"><span>Forehand</span></div>
                  <div class="skillbar-bar-pp"></div>
                  <div class="skill-bar-percent-pp">65%</div>
                </div>
                <div class="skillbar-pp clearfix" data-percent="75%">
                  <div class="skillbar-title-pp"><span>Backhand</span></div>
                  <div class="skillbar-bar-pp"></div>
                  <div class="skill-bar-percent-pp">75%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 atp-single-player skill-content">
            <div class="ppl-desc">
              <p class="exp-title-pp">DESCRIPTION</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled
                it
                to make a type specimen book.</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled
                it
                to make a type specimen book.</p>
            </div>
          </div>
        </div><!--Close Top Match-->

        <!--Right Column-->
        <div class="col-md-3 right-column">
          {% include 'latest_news.html' %}

        </div>
      </div>
    </section>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
  <!--MENU-->
  <script src="{% static 'js/menu/modernizr.custom.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/menu/cbpHorizontalMenu.js' %}" type="text/javascript"></script>
  <!--END MENU-->

  <!-- Button Anchor Top-->
  <script src="{% static 'js/jquery.ui.totop.js' %}" type="text/javascript"></script>

  <!--PERCENTAGE-->
  <script>
    $(function () {
      "use strict";
      $('.skillbar-pp').each(function () {
        $(this).find('.skillbar-bar-pp').width(0);
      });

      $('.skillbar-pp').each(function () {
        $(this).find('.skillbar-bar-pp').animate({
          width: $(this).attr('data-percent')
        }, 2000);
      });
    });
  </script>


  <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
{% endblock %}