{% load staticfiles %}
<!--SECTION MENU -->
<section class="content-top-login">
    <div class="container">
      <div class="col-md-12">
        <div class="box-support">
          <p class="support-info"><i class="fa fa-envelope-o"></i> info@wttennis.com</p>
        </div>
        <div class="box-login">
          <i class="fa fa-shopping-cart"></i>
          <a href="login.html">Login</a>
          <a href="login.html">Sign Up</a>
        </div>
        <div class="cart-prod hiddenbox">
          <div class="sec-prod">
            <div class="content-cart-prod">
              <i class="fa fa-times"></i>
              <img src="http://placehold.it/160x160" alt="">
              <p>FIVE BLX</p>
              <p>1 X $55.00</p>
            </div>
            <div class="content-cart-prod">
              <i class="fa fa-times"></i>
              <img class="racket-img" src="http://placehold.it/160x160" alt="">
              <p>FIVE BLX</p>
              <p>1 X $125.00</p>
            </div>
            <div class="content-cart-prod">
              <p class="cart-tot-price">Total: $180.00</p>
              <a href="#" class="btn-cart">Go to cart</a>
              <a href="#" class="btn-cart">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="container box-logo">
  <header>
    <div class="content-logo col-md-12">
      <div class="logo">
        <img src="{% static 'img/logo2.png' %}" alt="logo"/>
      </div>

      <div class="bt-menu"><a href="#" class="menu"><span>&equiv;</span> Menu</a></div>

      <div class="box-menu">

        <nav id="cbp-hrmenu" class="cbp-hrmenu">
          <ul id="menu">
            <li><a class="lnk-menu" href="news.html">Новини</a></li>

            <li>
              <a class="lnk-menu" href="#">Про клуб</a>
              <div class="cbp-hrsub sub-little">
                <div class="cbp-hrsub-inner">
                  <div class="content-sub-menu">
                    <ul class="menu-pages">
                      <li><a href="tournaments.html"><span>Історія клубу</span></a></li>
                      <li><a href="login.html"><span>Регламент</span></a></li>
                      <li><a href="news.html"><span>Тренери</span></a></li>
                      <li><a href="single_news.html"><span>Керівництво клубу</span></a></li>
                      <li><a href="video_tube.html"><span>Video (youtube)</span></a></li>
                      <li><a href="video.html"><span>Video (html5)</span></a></li>
                      <li><a href="results.html"><span>Results</span></a></li>
                      <li><a href="players.html"><span>Учасники</span></a></li>
                      <li><a href="single_player.html"><span>Single Player</span></a></li>
                      <li><a href="matches.html"><span>Matches</span></a></li>
                      <li><a href="match.html"><span>Single Match</span></a></li>
                      <li><a href="shops.html">Shop</a></li>
                      <li><a href="shop_rackets.html">Shop Rackets</a></li>
                      <li><a href="details_prod.html">Single products</a></li>
                      <li><a href="gallery_col.html">Photo Gallery</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><a class="lnk-menu" href="players.html">Учасники</a></li>
            <li><a class="lnk-menu" href="tournaments.html"><span>Турніри</span></a></li>

            <li><a class="lnk-menu" href="results.html">Рейтинги</a></li>
            <li><a class="lnk-menu" href="gallery_col.html">Галерея</a></li>
            <li><a class="lnk-menu" href="contact.html">Контакти</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</section>