{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <section class="drawer">
    <div class="col-md-12 size-img back-img-news">
      <div class="effect-cover">
        <h3 class="txt-advert animated">ATP World Tour Fan Credential</h3>
        <p class="txt-advert-sub animated">Your all-access pass to experience the action on tour</p>
      </div>
    </div>

    <section id="news" class="container secondary-page">
      <div class="general general-results players">
        <div class="top-score-title right-score col-md-12">
          <h3>NEWS <span>ARCHIVES</span><span class="point-little">.</span></h3>

          {% for news in news_list %}
            {% if news.is_posted %}
              <div class="col-md-12 news-page">

                <img class="img-djoko" src="{{ news.img.url }}" alt=""/>

                <div class="col-md-10 data-news-pg">
                  <p class="news-dd">{{ news.created|date:"F j, Y " }}</p>
                  <h3>{{ news.title }}</h3>
                  <p>{{ news.content|slice:":451"|striptags }}</p>
                  <div class="col-md-12 news-more"><a href="{{ news.get_absolute_url }}" class="ca-more"><i
                      class="fa fa-angle-double-right"></i>більше...</a></div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% if is_paginated %}
            <div class="col-md-12 news-page-page">

              {% for page in paginator.page_range %}
                {% if page == page_obj.number %}<span class="news-page-active">{{ page }}</span>
                {% else %}
                  <span><a href="{% url 'news_list' %}?page={{ page }}">{{ page }}</a></span>
                {% endif %}
              {% endfor %}
            </div>

          {% endif %}
{#          <span class="page-point">....</span><span>10</span>#}

        </div><!--Close Top Match-->
      </div>
    </section>
  </section>

{% endblock %}

{% block scripts %}

  <script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
  <!--MENU-->
  <script src="{% static 'js/menu/modernizr.custom.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/menu/cbpHorizontalMenu.js' %}" type="text/javascript"></script>
  <!--END MENU-->

  <!-- Button Anchor Top-->
  <script src="{% static 'js/jquery.ui.totop.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>

{% endblock %}