{% extends 'base.html' %}

{% block content %}

  <section class="drawer">
    <div class="col-md-12 size-img back-img-news">
      <div class="effect-cover">
        <h3 class="txt-advert animated">ATP World Tour Fan Credential</h3>
        <p class="txt-advert-sub animated">Your all-access pass to experience the action on tour</p>
      </div>
    </div>

    <section id="news" class="container secondary-page">
      <div class="general general-results players">
        <div class="top-score-title right-score col-md-12">
          <h3>NEWS <span>ARCHIVES</span><span class="point-little">.</span></h3>
          <div class="col-md-12 news-page">
            <img class="img-djoko" src="http://placehold.it/270x180" alt=""/>

            <div class="col-md-10 data-news-pg">
              <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
              <h3>Match of the Day presented by Emirates Airline</h3>
              <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his
                counterpunching style of play and impressive foot speed.
                No. 14 seed Marin Cilic
                needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in
                their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>
              <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i
                  class="fa fa-angle-double-right"></i>more...</a></div>
            </div>
          </div>
          <div class="col-md-12 news-page">
            <img class="img-djoko" src="http://placehold.it/270x180" alt=""/>

            <div class="col-md-10 data-news-pg">
              <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
              <h3>An Interview With: Marin Cilic</h3>
              <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his
                counterpunching style of play and impressive foot speed.
                No. 14 seed Marin Cilic
                needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in
                their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>
              <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i
                  class="fa fa-angle-double-right"></i>more...</a></div>
            </div>
          </div>
          <div class="col-md-12 news-page">
            <img class="img-djoko" src="http://placehold.it/270x180" alt=""/>

            <div class="col-md-10 data-news-pg">
              <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
              <h3>Four quarters add up to Day 10 thrills</h3>
              <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his
                counterpunching style of play and impressive foot speed.
                No. 14 seed Marin Cilic
                needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in
                their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>
              <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i
                  class="fa fa-angle-double-right"></i>more...</a></div>
            </div>
          </div>
          <div class="col-md-12 news-page">
            <img class="img-djoko" src="http://placehold.it/270x180" alt=""/>

            <div class="col-md-10 data-news-pg">
              <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
              <h3>Four quarters add up to Day 10 thrills</h3>
              <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his
                counterpunching style of play and impressive foot speed.
                No. 14 seed Marin Cilic
                needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in
                their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>
              <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i
                  class="fa fa-angle-double-right"></i>more...</a></div>
            </div>
          </div>
          <div class="col-md-12 news-page">
            <img class="img-djoko" src="http://placehold.it/270x180" alt=""/>

            <div class="col-md-10 data-news-pg">
              <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
              <h3>Four quarters add up to Day 10 thrills</h3>
              <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his
                counterpunching style of play and impressive foot speed.
                No. 14 seed Marin Cilic
                needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in
                their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>
              <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i
                  class="fa fa-angle-double-right"></i>more...</a></div>
            </div>
          </div>
          <div class="col-md-12 news-page">
            <img class="img-djoko" src="http://placehold.it/270x180" alt=""/>

            <div class="col-md-10 data-news-pg">
              <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
              <h3>Four quarters add up to Day 10 thrills</h3>
              <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his
                counterpunching style of play and impressive foot speed.
                No. 14 seed Marin Cilic
                needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in
                their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>
              <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i
                  class="fa fa-angle-double-right"></i>more...</a></div>
            </div>
          </div>
          <div class="col-md-12 news-page">
            <img class="img-djoko" src="http://placehold.it/270x180" alt=""/>

            <div class="col-md-10 data-news-pg">
              <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
              <h3>Four quarters add up to Day 10 thrills</h3>
              <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his
                counterpunching style of play and impressive foot speed.
                No. 14 seed Marin Cilic
                needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in
                their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>
              <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i
                  class="fa fa-angle-double-right"></i>more...</a></div>
            </div>
          </div>
          <div class="col-md-12 news-page">
            <img class="img-djoko" src="http://placehold.it/270x180" alt=""/>

            <div class="col-md-10 data-news-pg">
              <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
              <h3>Four quarters add up to Day 10 thrills</h3>
              <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his
                counterpunching style of play and impressive foot speed.
                No. 14 seed Marin Cilic
                needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in
                their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>
              <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i
                  class="fa fa-angle-double-right"></i>more...</a></div>
            </div>
          </div>
          <div class="col-md-12 news-page-page">
            <span class="news-page-active">1</span><span>2</span><span>3</span><span
              class="page-point">....</span><span>10</span>
          </div>
        </div><!--Close Top Match-->
      </div>
    </section>
    <section id="sponsor" class="container">
      <!--SECTION SPONSOR-->
      <!-- <div class="client-sport client-sport-nomargin">
          <div class="content-banner">
                <ul class="sponsor second">
                   <li><img src="http://placehold.it/273x133" alt="" /></li>
                   <li><img src="http://placehold.it/273x133" alt="" /></li>
                   <li><img src="http://placehold.it/273x133" alt="" /></li>
                   <li><img src="http://placehold.it/273x133" alt="" /></li>
                   <li><img src="http://placehold.it/273x133" alt="" /></li>
                   <li><img src="http://placehold.it/273x133" alt="" /></li>
               </ul>
           </div>
     </div> -->
    </section>

{% endblock %}