{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <section class="drawer">
    <div class="col-md-12 size-img back-img-shop">
      <div class="effect-cover">
        <h3 class="txt-advert animated">The best news ATP WTP</h3>
        <p class="txt-advert-sub">News - Match - Player</p>
      </div>
    </div>

    <section id="single_news" class="container secondary-page">
      <div class="general general-results">
        <div class="top-score-title col-md-9">
          <h3>{{ news_object.title }}<span class="point-little">.</span></h3>

          {{ news_object.content|safe }}

          <p class="desc_news important_news data">by {{ news_object.author }} <i
              class="fa fa-calendar"></i>{{ news_object.created|date:"F j, Y" }}</p>

          <div class="tab_news"><i class="fa fa-tag"></i><span>TAGS:</span>
            {% for tag in news_object.tags.all %}
              <a href="#" class="tag">{{ tag.name }}</a>
            {% endfor %}
          </div>

          <div class="other-news">
            <h3>Other <span>News</span><span class="point-little">.</span></h3>
            <ul id="product" class="bxslider">
              {% for other in other_news %}
                {% if other.is_posted %}
                  <li>
                    <img src="{{ other.img.url }}" alt=""/>
                    <p class="product-title">{{ other.title|slice:":20" }}</p>
                    <p class="txt-other-news">{{ other.content|striptags|slice:":160" }}...</p>
                    <div><a href="{{ other.get_absolute_url }}" class="ready-news">Читати</a></div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

          <!-- <div class="top-score-title l-comment">
               <h3>LEAVE A <span>COMMENT</span><span class="point-little">.</span></h3>
                   <div class="col-md-12 login-page">
                       <form method="post" class="register-form">

                           <div class="name">
                               <label for="name">* Name:</label><div class="clear"></div>
                               <input id="Text2" name="name" type="text" placeholder="e.g. Mr. John" required=""/>
                           </div>
                           <div class="name">
                               <label for="email">* Email:</label><div class="clear"></div>
                               <input id="email" name="email" type="text" placeholder="e.g. Mr. Doe" required=""/>
                           </div>
                            <div class="message">
                                           <label for="message"> Message:</label>
                                           <textarea name="messagetext" class="txt-area" id="message" cols="30" rows="4"></textarea>
                                       </div>
                           <div id="register-submit">
                               <input type="submit" value="Submit"/>
                           </div>
                         </form>

                   </div>

           </div><!--Close comment-->

        </div><!--Close Top Match-->
        <div class="col-md-3 right-column">
          <div class="top-score-title col-md-12 right-title">
            <h3>Latest News</h3>
            {% for news in latest_news %}
            <div class="right-content">
              <p class="news-title-right">{{ news.title|slice:":15" }}</p>
              <p class="txt-right">{{ news.content|striptags|slice:":120" }}...</p>
              <a href="{{ news.get_absolute_url }}" class="ca-more"><i class="fa fa-angle-double-right"></i>Більше...</a>
            </div>
            {% endfor %}
          </div>
          <!-- <div class="top-score-title col-md-12 right-title">
                <h3>Photos</h3>
                <ul class="right-last-photo">
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="http://placehold.it/320x213" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>
							    </div>
						    </div>
                        </li>
                </ul>
          </div> -->
          </div>
        </div>
    </section>
    <section id="sponsor" class="container">
      <!--SECTION SPONSOR-->
    </section>
  </section>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
  <!--MENU-->
  <script src="{% static 'js/menu/modernizr.custom.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/menu/cbpHorizontalMenu.js' %}" type="text/javascript"></script>
  <!--END MENU-->
  <script src="{% static 'js/jquery.bxslider.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      "use strict";
      if (document.body.clientWidth < 400) {
        $('#product').bxSlider({
          minSlides: 1,
          maxSlides: 3,
          slideWidth: 300,
          slideMargin: 10
        });
      }
      else if (document.body.clientWidth < 600) {
        $('#product').bxSlider({
          minSlides: 2,
          maxSlides: 3,
          slideWidth: 265,
          slideMargin: 10
        });
      }
      else {
        $('#product').bxSlider({
          minSlides: 3,
          maxSlides: 3,
          slideWidth: 265,
          slideMargin: 10
        });
      }
    });
  </script>

  <!-- Button Anchor Top-->
  <script src="{% static 'js/jquery.ui.totop.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
{% endblock %}