{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <section class="drawer">
    <div class="col-md-12 size-img back-img-shop">
      <div class="effect-cover">
        <h3 class="txt-advert animated">The best news ATP WTP</h3>
        <p class="txt-advert-sub">News - Match - Player</p>
      </div>
    </div>

    <section id="single_news" class="container secondary-page">
      <div class="general general-results">
        <div class="top-score-title col-md-9">
          <h3>{{ news_object.title }}<span class="point-little">.</span></h3>

          {{ news_object.content|safe }}

          <p class="desc_news important_news data">by {{ news_object.author }} <i
              class="fa fa-calendar"></i>{{ news_object.created|date:"F j, Y" }}</p>

          <div class="tab_news"><i class="fa fa-tag"></i><span>TAGS:</span>
            {% for tag in news_object.tags.all %}
              <a href="#" class="tag">{{ tag.name }}</a>
            {% endfor %}
          </div>

          <div class="other-news">
            <h3>Other <span>News</span><span class="point-little">.</span></h3>
            <ul id="product" class="bxslider">
              {% for other in other_news %}
                {% if other.is_posted %}
                  <li>
                    <img src="{{ other.img.url }}" alt=""/>
                    <p class="product-title">{{ other.title|slice:":20" }}</p>
                    <p class="txt-other-news">{{ other.content|striptags|slice:":160" }}...</p>
                    <div><a href="{{ other.get_absolute_url }}" class="ready-news">Читати</a></div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

        </div><!--Close Top Match-->
        <div class="col-md-3 right-column">

          {% include 'latest_news.html' %}

        </div>
      </div>
    </section>
    <section id="sponsor" class="container">
      <!--SECTION SPONSOR-->
    </section>
  </section>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
  <!--MENU-->
  <script src="{% static 'js/menu/modernizr.custom.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/menu/cbpHorizontalMenu.js' %}" type="text/javascript"></script>
  <!--END MENU-->
  <script src="{% static 'js/jquery.bxslider.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      "use strict";
      if (document.body.clientWidth < 400) {
        $('#product').bxSlider({
          minSlides: 1,
          maxSlides: 3,
          slideWidth: 300,
          slideMargin: 10
        });
      }
      else if (document.body.clientWidth < 600) {
        $('#product').bxSlider({
          minSlides: 2,
          maxSlides: 3,
          slideWidth: 265,
          slideMargin: 10
        });
      }
      else {
        $('#product').bxSlider({
          minSlides: 3,
          maxSlides: 3,
          slideWidth: 265,
          slideMargin: 10
        });
      }
    });
  </script>

  <!-- Button Anchor Top-->
  <script src="{% static 'js/jquery.ui.totop.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
{% endblock %}